

.landing-button {
    width: 293px;
    height: 37px;
    text-align: left;
    font: normal normal medium 28px/16px Roboto;
    letter-spacing: 0.01px;
    color: #410865;
    text-transform: uppercase;
    opacity: 1;
}

.landing-block {
    padding: 2em 6em;
    width: 50%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    float: right;
}

.center-block {
    text-align: center;
}

.landing-wrapper {
    margin-top: -150px;
    
}

.landing-wrapper p {
    font: normal normal bold 32px/46px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.landing-wrapper h1 {
    margin-bottom: 1em;
    font: normal normal bold 62px/36px Roboto;
    letter-spacing: 0.47px;
    color: #FFFFFF;
    opacity: 1;
}

#first-block {
    background-image: url("../resources/main-landing.png");
    background-size: cover;
    background-position: center;
    height: 1486px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    &:first-child {
        padding-right: 0px;
    }
    &:last-child {
        padding-left: 0px;
        padding-right: 6em;
    }
    #main-block, #learn-more {
        position: relative;
         width: 60%;
         .landing-block{
             width: 100%;
         }
    }
    #main-block {
        margin-top: 200px;
    }
    #learn-more {
        margin-top: 750px;
    }
}

#about-rpg {
    background-image: url("../resources/Exclusion-6.png");
    background-size: cover;
    background-position: center;
    height: 1592px;
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

#about-app {
    background-image: url("../resources/Exclusion-7.png");
    background-size: cover;
    background-position: center;
    height: 1139px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

#you-decide {
    background-image: url("../resources/Exclusion-8.png");
    background-size: cover;
    background-position: center;
    height: 1381px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

#last-block {
    background-color: #2D0A48;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}