
.home-wrapper {
    padding: 2em 6em;
    background: #2D0A48 0% 0% no-repeat padding-box;
    color: white;
    height: 100%;
}

.friend-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.friends-container h2 {
    text-align: left;
}

.friends-container h5 {
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0.01px;
    color: #FFFFFF;
    opacity: 1;
}

.friends-container h6 {
    text-align: right;
}

.friends-container {
    width: 100%;
}

.side-panel-container {
    box-shadow: 0px 1px 2px #00000059;
    border-radius: 4px;
    background-color: rgba(255,255,255, 0.09);
    padding: 20px;
}

#search-bar-container{
    margin-bottom: 20px;
    width: 100%;
    background-color: rgba(255,255,255, 0.09);
    #search-bar {
        margin-bottom: 10px;
        color: white;
    }
    .MuiInputAdornment-root {
        margin-top: 5px;
        color: white;
    }
}

.room {
    background-color: rgba(255,255,255, 0.09);
    box-shadow: 0px 1px 2px #00000059;
    border-radius: 4px;
    opacity: 1;
    height: 500px;

}


.room-image {
    max-width: 100%;
}