.room-component {
    width: 100%;
    height: calc(100% - 300px);
    padding: 2em 6em;
    background-color: #2D0A48;
    margin: none;
}

.create-table-container {
    max-width: 600px;
    height: 100%;
    color: #fff;
    h2 {
        text-align: left ;
    }
}


.view-table-container {
    background: #2D0A48 0% 0% no-repeat padding-box;
    color: white;
    height: 100%;
}

.friend-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.friends-container h2 {
    text-align: left;
}

.friends-container h5 {
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0.01px;
    color: #FFFFFF;
    opacity: 1;
}

.friends-container h6 {
    text-align: right;
}

.friends-container {
    width: 100%;
}

.side-panel-container {
    box-shadow: 0px 1px 2px #00000059;
    border-radius: 4px;
    background-color: rgba(255,255,255, 0.09);
    padding: 20px;
}

.view-table-header {
    width: 100%;
    background-image: url("../resources/room-placeholder.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 250px;
    max-height: 400px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .view-table-header-title{
        background: rgba(60, 26, 108, 0.89) 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.59);
        border-radius: 4px;
        padding: 20px;

        .friend-avatar {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        h2 {
            text-align: left;
            font: normal normal medium 38px/32px Roboto !important;
            letter-spacing: 0.01px;
            color: #FFFFFF;
            margin: 0px;
        }
    }
}

.view-table-content{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .view-table-settings{
        width: 300px;
        min-height: 75%;
        border-right: 3px solid rgba(255,255,255, 0.09);
        padding: 20px;

        h5 {
            font-size: 14px;
        }

        .friend-avatar {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
    }
    .view-table-description{
        padding: 20px;
        width: calc(100% - 300px);
        min-height: 75%;
    }
}
