.user-avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


.side-panel-container {
    box-shadow: 0px 1px 2px #00000059;
    border-radius: 4px;
    background-color: rgba(255,255,255, 0.09);
    padding: 30px;
    text-align: center;
    textarea {
            width: 100%;
            height: 8em;
            overflow-wrap: normal;

    }
}

.profile-details {
    width: 100%;
    height: 100%;
    color: #fff;
    h2 {
        text-align: left ;
    }
}

.profile {
    width: 100%;
    height: calc(100vh - 300px);
    padding: 2em 6em;
    background-color: #2D0A48;
}

.tag-list-element {
    background-color: rgba(255,255,255, 0.09);
    border-radius: 4px 4px 0px 0px; 
    margin: 10px !important;
    padding: 10px;
    width: 100%;
    color: #fff !important;
    font: normal normal normal 16px/24px Roboto;
    
    p, fieldset {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    }

    input {
        color: #fff !important;
    }
    label {
        color: #fff !important;
    }
    .MuiSelect-select {
        padding: 10px;
        color: #fff !important;
    }

    .MuiFormHelperText-root {
        padding: 10px;
        color: #fff !important;
    }
}

 .profile-textfield {
    background-color: rgba(255,255,255, 0.09);
    border-radius: 4px 4px 0px 0px; 
    height: 3em;
    margin: 10px !important;
    padding: 10px;
    width: 100%;
    color: #fff !important;
    font: normal normal normal 16px/24px Roboto;
    input {
        color: #fff !important;
    }
    label {
        color: #fff !important;
    }
    .MuiSelect-select {
        padding: 10px;
        color: #fff !important;
    }

    .MuiFormHelperText-root {
        padding: 10px;
        color: #fff !important;
    }
} 

.profile-stars {
    display: flex;
    flex-wrap: nowrap;
}

.add-button {
     text-align: center;
     cursor: pointer;
}