@font-face {
    font-family: 'StarJedi';
    src: local('StarJedi'), url("./resources/star-jedi-font.woff") format('woff');
  }
// global styles
a { cursor: pointer; }
html {
    scroll-behavior: smooth;
  }
  


.allButFooter {
    min-height: calc(100vh - 200px);
}

.admin-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e8e9ea;
    border-bottom: 1px solid #ccc;
}

.logo {
    text-align: left;
    font: normal normal normal 32px/10px StarJedi;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    opacity: 1;
}

.special-button {
    border: 1px solid rgba(255,255,255,0.23) !important;
    border-radius: 4px !important;
    background: transparent !important;
    font: normal normal medium 15px/14px Roboto;
    letter-spacing: 0.01px;
    color: #FFFFFF !important;
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
}