

.landing-navbar, .footer, .main-navbar {
    padding: 2em 6em;
}

.main-navbar {
     background-color: #2D0A48;
}

.alert-container { 
    position: absolute;
    width: 100%;
}

.footer {
    width: 100%;
    height: 200px;
    background: #1D062F 0% 0% no-repeat padding-box;
}

#footer-container {
    margin-top: 5px;
    height: 100%;
    text-align: center;
}

.footer-link {
    text-align: left;
    font: normal normal bold 18px/32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    &:hover {
        cursor: pointer;
    }
}

.landing-link {
    text-align: left;
    font: normal normal bold 18px/32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    opacity: 1;
}

.landing-nav-button {
    text-align: left;
    float: right;
    font: normal normal medium 15px/14px Roboto;
    letter-spacing: 0.01px;
    text-transform: uppercase;
}

.landing-nav {
    background-color: transparent;
}
