.account-block {
    padding: 6em 12em;
    min-width: 700px;
    max-width: 800px;
}

.account-wrapper {
    background-image: url("../resources/Group-5.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FFFFFF;
}

.account-button {
    width: 100%;
}

h2 {
    text-align: center;
    font: normal normal bold 20px/46px Roboto;
    letter-spacing: 0.15px;
    opacity: 1;
    margin: 15px;
}
.account-wrapper .logo {
    text-align: center !important;
    margin: 25px 0px;
}

.checkbox-text {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}